body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(39, 39, 39);
}

.writer-area{
    width: auto;
    height: auto;
    margin-top: 50px;
}
.writer-box{
    width: 1250px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 243, 130);
}
.writer-action-box{
    width: 1226px;
    height: 300px;
    /*background-color: rgb(255, 252, 48);*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 20px;
}
.upload-comic-box,.statistic-comic-box{
    width: 300px;
    height: 200px;
    margin-left: 20px;
}
.upload-comic-box{
    background-color: rgba(195, 255, 30, 1);
}
.statistic-comic-box{
    background-color: rgb(187, 255, 0)
}
.image-decoration-upload{
    width: 80px;
    height: 80px;
    background-color: red;
}