h2{
    font-family: sans-serif;
}
body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(182, 182, 182);
}

.writer-area{
    width: auto;
    height: auto;
    margin-top: 50px;
}
.writer-box{
    width: 1250px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
}
.writer-action-box{
    width: 1226px;
    height: 200px;
    /*background-color: rgb(255, 252, 48);*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
}
.upload-comic-box,.statistic-comic-box{
    width: 300px;
    height: 200px;
    margin-left: 20px;
    border-radius: 10px;
}
.upload-comic-box{
    background-color: rgb(107, 107, 107);
}
.statistic-comic-box{
    background-color: rgb(134, 134, 134)
}
.image-decoration-upload{
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
}

.comic-area{
    width: auto;
    height: auto;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.comic-card-area{
    width: auto;
    height: auto;
    display: flex;
    /*flex-wrap: wrap;*/
}
.comic-card{
    width: 370px;
    height: 530px;
    background-color: rgb(197, 197, 197);
    margin-left: 20px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: sans-serif;
    border-width: 10px;
    border-color: black;
    box-shadow: 10px 10px 10px black;
}
.comic-color-banner{
    width: 370px;
    height: 200px;
    background-image: linear-gradient(to left,rgb(0, 0, 0),rgb(109, 109, 109));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding-top: 5px;
}
.comic-desc-box{
    display: flex;
    flex-wrap: wrap;
}
.comic-desc-text{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comic-card-action{
    width: 390px;
    height: auto;
    margin-left: 5px;
    margin-right: 10px;
    /*background-color: black;*/
    display: flex;
    flex-wrap: wrap;
}
.table-list-comic{
    width: 1226px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.text-decoration-upload,.text-popular-comic{
    width: 200px;
    height: auto;
    margin-left: 10px;
    font-family: sans-serif;
}
.text-popular-comic{
    margin-top: 20px;
}
.image-popular-comic{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}
.box-join-date-area{
    width: 622px;
    height: 150px;
    background-color: rgb(121, 121, 121);
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: sans-serif;
}
.join-date-box{
    padding-top: 10px;
    padding-left: 10px;
}
.comic-action-area{
    width: 1226px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.comic-user-status{
    width: 550px;
    height: 380px;
    background-color: rgb(73, 73, 73);
    margin-left: 25px;
    border-radius: 10px;
}
.user-point-box{
    width: 200px;
    height: 200px;
    background-color: rgb(128, 128, 128);
    padding-top: 1px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 10px;
}
.add-new-comic-box{
    width: 990px;
    height: 750px;
    /*background-color: rgb(255, 60, 60);*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.box-btn{
    width: 200px;
    height: 400px;
    background-color: blue;
    margin-left: 10px;
}
.section-add-new-comic{
    width: 550px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
}
.image-viewer-section{
    width: 500px;
    height: 200px;
    /*background-color: red;*/
    margin-left: 10px;
    margin-top: 10px;
    border: 2px dashed black;
    border-radius: 10px;
}
.image-view-container{
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}
.add-new-comic-box-source,.add-new-comic-box-metadata{
    width: 600px;
    height: 400px;
    /*background-color: green;*/
    margin-left: 10px;
    margin-top: 50px;
    text-align: left;
}
.add-new-comic-box-metadata{
    margin-left: 10px;
    width: 500px;
    height: 650px;
    text-align: center;
    margin-bottom: 0px;
}
.upload-btn-comic-box{
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}
.upload-source{
    margin-left: 10px;
}
.show-area{
    width: auto;
    height: 950px;
    /*background-color: rgba(54, 54, 54, 0.863);*/
}
.show-container{
    width: 800px;
    height: 850px;
    /*background-color:rgba(0, 60, 255, 0.959);*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.container-show-first{
    width: 750px;
    height: 300px;
    display: flex;
    background-color: rgb(104, 104, 104);
    padding-top: 20px;
    padding-bottom: 0px;
    border-radius: 5px;
}
.container-show-image,.container-show-description{
    width: 300px;
    height: 400px;
    text-align: center;
    font-family: sans-serif;
}
.container-show-description{
    text-align: left;
}
.container-show-comment{
    width: 750px;
    height: 200px;
    background-color: rgb(104, 104, 104);
    margin-bottom: 10px;
    border-radius: 5px;
}
.container-comment{
    /*background-color: rgb(134, 255, 134);*/
    margin-top: 15px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 5px;
    width: 700px;
}
.container-comic-title{
    width: 750px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(104, 104, 104);
    border-radius: 5px;
    font-family: sans-serif;
}
.container-show-comic{
    width: 750px;
    height: 750px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(104, 104, 104);
    border-radius: 5px;
    margin-bottom: 10px;
}
.separator-section{
    width: auto;
    height: 100px;
    /*background-color: green;*/
}
.comic-action-box{
    width: 750px;
    height: 55px;
    background-color: rgb(104,104,104);
    border-radius: 5px;
}
.button-place{
    padding-top: 8px;
    margin-left: 20px;
}
.create-new-comic-area{
    width: auto;
    height: auto;
}
.create-new-comic-box{
    width: 700px;
    height: 750px;
    /*background-color: yellow;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 10px;
}
.create-new-comic-form{
    width: 300px;
    height: 500px;
   /* background-color: red; */
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
}
.input-new-comic-area,.submit-new-comic-area{
    width: 500px;
    height: 50px;
    /*background-color: green;*/
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.submit-new-comic-area{
    margin-top: 300px;
    /*background-color: green;*/
}
.create-comic-area{
    width: auto;
    height: 750px;
    /*background-color: rgba(0,0,0,0.5);*/
    margin-bottom: 100px;
}
.create-comic-box{
    width: 500px;
    height: 790px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: px;
    border-style: solid;
    border-color: black;
}
.input-area,.input-area-action{
    width: auto;
    height: auto;
    padding-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    /*background-color: yellow;*/
}
.input-area-action{
    margin-top: 10px;
}
.upload-banner-section{
    width: 495px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.status-box{
    margin-left: 100px;
    font-family: sans-serif;
    height: auto;
    background-color: red;
}
.status-text-box{
    padding-bottom: 10px;
    width: auto;
    height: auto;
    background-color: yellow;
}
.button-action-box{
    width: 500px;
    height: 50px;
    margin-top: 10px;
}
.comic-show-area{
    width: auto;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    /* background-color: white; */
}
.comic-show-box{
    width: 950px;
    height: auto;
    background-color: white;
    border-color: black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.comic-show-main-box{
    width: 690px;
    height: auto;
    /*background-color: rgb(155, 155, 155);*/
    margin-left: auto;
    margin-right: auto;
}
.comic-show-metadata{
    width: 690px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    /*background-color: red;*/
    margin-top: 10px;
}
.comic-show-data{
    font-family: sans-serif;
}
.comic-show-description{
    width: 690px;
    height: 400px;
    font-family: sans-serif;
}
.table-chapter-comic{
    border-radius: 0px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.comic-show-comment{
    font-family: sans-serif;
}
.create-chapter-area{
    width: auto;
    height: auto;
    margin-bottom: 10px;
    /*background-color: white;*/
}
.create-chapter-main-box{
    width: 750px;
    height: 650px;
    /* background-color: red; */ 
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.create-chapter-form{
    width: 500px;
    height: 500px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.comment-not-found-notifications{
    font-family: sans-serif;
}
.read-chapter-area{
    width: auto;
    height: auto;
    /*background-color: rgb(155, 155, 155);*/
    margin-top: 100px;
    margin-bottom: 100px;
}
.read-chapter-box{
    width: 790px;
    height: auto;
    border-radius: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.read-chapter-main-box{
    width: 680px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.comic-title-section{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    text-align: center;
}
.read-chapter-action{
    width: 680px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: black;*/
    padding-top: 5px;
}
.chapter-confirm-area{
    width: auto;
    height: auto;
    /* background-color: white; */
}
.chapter-confirm-main-box{
    width: 850px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(128, 128, 128); */
}
.chapter-confirm-box{
    margin-top: 10px;
}
.page-view-area{
    width: 845px;
    height: auto;
    padding-top: 50px;
}
.chapter-page-box{
    width: 650px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.chapter-page-box{
    width: 650px;
    height: 840px;
    /*background-color: white;*/

}
.chapter-page-preview{
    margin-top: 10px;
}
.chapter-page-action-box{
    width: 300px;
    height: 30px;
    margin-left: 0px;
    margin-top: 10px;
}
.chapter-confirm-action-box{
    width: 650px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}
.comic-show-chapter{
    width: auto;
    height: auto;
}
.edit-chapter-page-area{
    width: auto;
    height: auto;
    /*background-color: white;*/
}
.edit-chapter-page-box{
    width: 650px;
    height: 650px;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit-chapter-preview-iamge{
    width: 300px;
    height: auto;
    /* background-color: blue; */ 
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.section-action-box-button{
    width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.comic-show-description{
    width: 690px;
    height: 300px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}
.comic-show-description-box{
    margin-left: 10px;
    padding-top: 10px;
}
.comic-show-chapter{
    margin-top: 100px;
}

#chapter-page-image{
    display: none;
}
#preview-image-chapter-page{
    width: 400px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}
#chapter-confirm-btn,#chapter-pending-btn{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border-width: 0px;
    margin-left: 10px;
}
#chapter-confirm-btn:hover{
    background-color: rgb(0, 218, 0);
    color: rgb(0, 0, 0);
}
#chapter-pending-btn:hover{
    background-color: yellow;
    color: rgb(0, 0, 0);
}
tr,td,th{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 0px;
    width: 200px;
    height: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
}
#edit-chapter-page-button,#delete-chapter-page-button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    color: black;
    background-color: white;
}
#edit-chapter-page-button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
#delete-chapter-page-button:hover{
    background-color: yellow;
    color: black;
}
#chapter-page-text-count{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: sans-serif;
    color: rgb(61, 61, 61);
    font-size: 10px;
}
#chapter-image-preview{
    width: 650px;
    height: 750px;
    border-radius: 10px;
}
#button-edit-action,#button-delete-action{
    width: 50px;
    height: 20px;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}
#button-edit-action:hover,#button-delete-action:hover{
    color: white;
    background-color: black;
}
#back-chapter-button{
    width: 150px;
    height: 45px;
    border-radius: 0px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    margin-top: 20px;
}
#back-chapter-button:hover{
    background-color: black;
    color: white;
}

#image-chapter{
    width: 680px;
    height: 650px;
}
#preview-image{
    width: 300px;
    height: 350px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    border-width: 1px;
}
#chapter-image-button{
    width: 405px;
    height: 30px;
    margin-top: 10px;
    border-radius: 0px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
#chapter-image-button:hover{
    color: white;
    background-color: black;
}
#chapter-name,#chapter-price{
    width: 400px;
    height: 30px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
@keyframes animation_chapter_name {
    0%{
        box-shadow: 10px 10px 0px black;
    }
    100%{
        box-shadow: 10px 10px 200px rgb(255, 255, 255);
    }
}
#button-submit,#button-reset,#button-back{
    width: 120px;
    height: 30px;
    border-radius: 0px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}
#button-submit:hover,#button-reset:hover,#button-back:hover{
    background-color: black;
    color: white;
}
#button-back{
    margin-left: 30px;
}
#chapter-name:focus{
    animation-name: animation_chapter_name;
    animation-duration: 4s;
    box-shadow: 10px 10px 100px rgb(255, 255, 255);
}
#chapter-comic-upload-invisible{
    display: none;
}
#create-new-chapter-button,#button-back-home{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
}
#create-new-chapter-button:hover,#button-back-home:hover{
    color: white;
    background-color: black;
}
#comic-show-banner{
    width: 200px;
    height: 250px;
    margin-right: 50px;
}
#input-box-genre{
    width: 500px;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 0px;
}
#header-title-create{
    font-family: sans-serif;
}
#status-upload-banner{
    width: 150px;
    height: 20px;
}
#comic-upload-banner-button{
    width: 400px;
    height: 30px;
    margin-left: 50px;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
#comic-upload-banner-button:hover{
    color: white;
    background-color: black;
}
#comment-box{
    width: 490px;
    height: 250px;
    resize: none;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
#invisible-box-banner{
    display: none;
}
#input-box{
    width: 490px;
    height: 30px;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#text-input{
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 10px;
}
#comic_title,#comic_writer,#comic_comment{
    width: 500px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#comic_comment{
    height: 300px;
    resize: none;
}
#new-comic-title{
    margin-top: 20px;
    margin-bottom: 0px;
}
#hidden-gem-image,#hidden-gem-banner{
    display: none;
}
#text-point{
    margin-left: 10px;
    font-family: sans-serif;
}
#text-point-count{
    margin-left: 10px;
    font-family: sans-serif;
}
#image-banner{
    width: 100px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
#text-genre{
    margin-left: 10px;
}
#comic-title{
    padding-top: 80px;
}
#edit-btn,#delete-btn{
    width: 160px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    border-width: 0px;
}
#delete-btn{
    margin-left: 30px;
    background-color: rgb(255, 0, 0);
}
#delete-btn:hover{
    margin-left: 30px;
    background-color: rgb(104, 0, 0);
    box-shadow: 5px 5px 10px black;
    color: white;
}
#edit-btn{
    background-color: rgb(229, 255, 0);
}
#edit-btn:hover{
    background-color: rgb(113, 126, 0);
    box-shadow: 5px 5px 10px black;
    color: white;
}
#show-btn{
    width: 350px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(0, 60, 255);
    font-style: normal;
}
#show-btn:hover{
    background-color: rgb(0, 56, 94);
    box-shadow: 5px 5px 10px black;
    color: white;
}
#icon-upload,#icon-see{
    width: 80px;
    height: 80px;
}
#btn-action-upload{
    width: 100px;
    height: 30px;
}
#btn-action-see{
    width: 150px;
    height: 30px;
}
#comic-image-view,#comic-banner-view{
    width: 90px;
    height: 75px;
    border-radius: 10px;
}

#input-comic,#select-genre{
    width: 300px;
    height: 40px;
    font-family: sans-serif;
    margin-top: 1px;
    margin-bottom: 5px;
}
#select-genre{
    width: 310px;
}
#comic-hidden-image,#comic-hidden-banner{
    display: none;
}
#textarea-comment{
    width: 300px;
    height: 200px;
    text-align: left;
    resize: none;
    font-family: sans-serif;
}
#input-release-date{
    width: 300px;
    height: 30px;
    margin-top: 1px;
    margin-bottom: 5px;
}
#input-comment{
    width: 300px;
    height: 200px;
    resize: none;
    margin-top: 1px;
    margin-bottom: 1px;
}
#title-input{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 69px;
    font-family: sans-serif;
    font-size: 10px;
}
#submit-btn,#reset-btn,#reset-btn-edit,#back-btn{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 10px;
    border-radius: 5px;
    border-width: 0px;
}
#image-comic-btn,#banner-comic-btn{
    width: 150px;
    height: 50px;
    font-family: sans-serif;
    font-size: 10px;
    margin-right: 5px; 
    color: rgb(0, 0, 0);
    border-width: 0px;
    border-radius: 5px;
}
#image-comic-btn{
    background-color: rgba(255, 0, 0, 0.932);
}
#banner-comic-btn{
    background-color: rgba(255, 230, 0, 0.932);
}
#image-comic-btn:hover{
    background-color: rgba(146, 0, 0, 0.932);
}
#banner-comic-btn:hover{
    background-color: rgba(146, 132, 0, 0.932);
}
#heading-title-page{
    font-family: sans-serif;
}
#submit-btn{
    background-color:rgba(0, 253, 21, 0.884);
}
#reset-btn{
    background-color:rgba(253, 194, 0, 0.884);
}
#reset-btn-edit{
    background-color:rgba(253, 194, 0, 0.884);
}
#back-btn{
    background-color:rgba(0, 174, 255, 0.884);
}
#submit-btn:hover{
    background-color:rgba(0, 165, 14, 0.884);
}
#reset-btn:hover{
    background-color:rgba(165, 126, 0, 0.884);
}
#reset-btn-edit:hover{
    background-color:rgba(165, 126, 0, 0.884);
}
#back-btn:hover{
    background-color:rgba(0, 110, 161, 0.884);
}
#separated-blue-line{
    border-style: solid;
    border-color: blue;
    width: 750px;
    height: 5px;
    background-color: blue;
    border-radius: 10px;
    padding-left: 1000px;
    padding-right: auto;
}
#comic-image-show{
    width: 700px;
    height: 700px;
    margin-top: 30px;
    border-radius: 10px;
}
#comic-title-text{
    padding-top: 10px;
}
#edit-btn-show,#delete-btn-show,#back-btn-show{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
}
#edit-btn-show{
    margin-right: 10px;
    background-color: rgb(255, 220, 23);
}
#delete-btn-show{
    margin-right: 10px;
    background-color: rgb(255, 23, 23);
}
#back-btn-show{
    margin-left: 235px;
    background-color: rgb(22, 170, 255);
}
#edit-btn-show:hover{
    margin-right: 10px;
    background-color: rgb(143, 121, 0);
}
#delete-btn-show:hover{
    margin-right: 10px;
    background-color: rgb(160, 0, 0);
}
#back-btn-show:hover{
    margin-left: 235px;
    background-color: rgb(0, 107, 168);
}
#comic-banner-image{
    width: 200px;
    height: 250px;
    border-radius: 10px;
}
#submit-button,#back-button{
    height: 30px;
    width: 200px;
    color: white;
    border-radius: 5px;
    border-width: 0px;
}
#submit-button{
    background-color: yellow;
    color: black;
}
#back-button{
    background-color: red;
}
#submit-button:hover{
    background-color: rgb(160, 160, 0);
}
#back-button:hover{
    background-color: rgb(141, 1, 1);
}
#header-text{
    margin-left: 85px;
    margin-right: auto;
    font-family: sans-serif;
}
#submit-button-create-comic,#cancel-button-create{
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#submit-button-create-comic{
    margin-right: 95px;
}
#submit-button-create-comic:hover,#cancel-button-create:hover{
    background-color: black;
    color: white;
}
#comment-not-found-text{
    font-family: sans-serif;
}